
# **Exploratory Data Analysis on Retaining Customers**

*   Knowing our customers is important when we engage in online transactions
*   Customer data allows us to understand what we can do better
*   Churn  is an important metric (Number of customers leaving our service)

**Monitoring Churn behaviour**
*   We can associate various categorical and numerical factors/characteristics of consumers and their decision to leave the service. We can then target these consumers through our marketing strategies through further analysis 

* In this case, we are going to see which consumers leave (Churn), and what characteristics to they have. This information can be used in Machine Learning to train and predict for Characteristics and their likelihood to Churn

**IMPORTING LIBRARIES**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Read the 'Telco.csv' file using the Pandas library and save it under the 'df' variable.** Hint: use pd.read_csv('filename.csv')

In [ ]:
df.head()

**Check dimensions of DataFrame**

In [ ]:
print(df.shape)

**Check the Data type and Data information**

In [ ]:
columns = df.columns.unique()
columns

In [ ]:
df.info()
# This step allows us to identify any data cleaning steps we need to undertake

We can notice some changes (cleaning) we want to undertake:  

*   Firstly, we want to check for any missing values (common data cleaning step)
* 'TotalCharges' (a number) is stored as an 'object'
*  To maintain conformity, the 'SeniorCitizen' column needs to change to "Yes/No" to maintain conformity with other columns (0 = No, 1 = Yes)
* Many of the 'Object' columns can be changed to 'Category' dtypes

In [ ]:
df.head(2)

**Exercise 1:** Check for the null values using the **.isnull().sum()** command

Although Data shows no missing values per se, if a row has a blank space (''), it is not considered 'Missing', hence, we need to undertake an additional step. Let's see one of the rows for example:

In [ ]:
# Finding the rows is beyond the scope of this workshop, but if you are interested, this is the code: 
#Blank_values = df[df['TotalCharges']==' '].index

df.loc[487:489]

We will replace all these blank spaces **(' ')** as **NaN** (Not a Number)

In [ ]:
df.replace(' ', np.nan, inplace=True)

Now if we check the null values, we get:

In [ ]:
df.isnull().sum()

We get **11 null values for the TotalCharges Column**! Something which could have been problematic for later Data Cleaning and Visualisation!

**Exercise 2:** Drop the null values from df, use **.dropna(how = 'any', inplace=True)**

In [ ]:
df.isnull().sum()

Sweet! Now we have to change:
*  To maintain conformity, we need to change **'SeniorCitizen'** column to "Yes/No" (0 = No, 1 = Yes)
* Many of the 'Object' columns can be changed to 'Category' dtypes
* **'TotalCharges'** to a 'Float'

We can use the **.map({})** method to substitute values in the Senior Citizen column in one go

In [ ]:
df['SeniorCitizen']=df['SeniorCitizen'].map({0:'No', 1:'Yes'})
df.head(2)

We can now convert the datatypes to their appropriate forms. For ex. Changing the dtypes to category columns for Gender, SeniorCitizen etc.

In [ ]:
df['gender'] = df['gender'].astype('category')

df[['SeniorCitizen','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn']] = df[['SeniorCitizen','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn']].astype('category')

**Exercise 3:** Change the 'TotalCharges' column to a 'float' dtype (Note: Do not put quotations for float)

In [ ]:
df.info()

In [ ]:
df.columns = ['CustomerID', 'Gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'Tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

In [ ]:
df.head()

**Summary of Data**

In [ ]:
df.describe(include='all')

In [ ]:
df['SeniorCitizen'].value_counts()
# Majority are not Senior Citizens

We can notice proportion of each category through **.value_counts()**
. In this case, we notice how Senior Citizens are a minority (16.24%)

**DATA EXPLORATION AND ANALYSIS**

Creating Filter conditions
* We can create filter conditions by the tenure (Number of months customer spent as a subscriber)
* To understand the trends by dividing the tenures into different categories (first let's find the min/max)

In [ ]:
#Creating Filter conditions
#We can create filter conditions by the tenure (Number of months customer spent as a subscriber)
#To understand the trends by dividing the tenures into different categories (first let's find the min/max)

print('Minimum Tenure = ' + str(df['Tenure'].min())+ ' month(s)')
print('Maximum Tenure = '+ str(df['Tenure'].max())+ ' month(s)')

Now we can assign the Conditions

* We want to divide it into multiples of 12 months

In [ ]:
A = (df['Tenure']<12)
B = (12<=df['Tenure']) & (24>df['Tenure'])
C = (24 <=df['Tenure']) & (48>df['Tenure'])
D = (48<=df['Tenure']) & (60>df['Tenure'])
E = (df['Tenure']>60)

In [ ]:
# Assign rows that satisfy this condition to a variable
A_col = pd.DataFrame(df.loc[A,:])
B_col = pd.DataFrame(df.loc[B,:])
C_col = pd.DataFrame(df.loc[C,:])
D_col = pd.DataFrame(df.loc[D,:])
E_col = pd.DataFrame(df.loc[E,:])

A_col
#A_col['Tenure'].value_counts()

In [ ]:
A_col.insert(2,'Tenure_range','<12')
B_col.insert(2,'Tenure_range','12-24')
C_col.insert(2,'Tenure_range', '24-48')
D_col.insert(2,'Tenure_range', '48-60')
E_col.insert(2,'Tenure_range','>60')

In [ ]:
E_col.head()

In [ ]:
df2 = A_col.append([B_col,C_col,D_col,E_col])
df2['Tenure_range'].value_counts()

In [ ]:
#Let's check how many of our customers have left (overall)
df2['Churn'].value_counts()

As we can see here, more customers have stayed than left over the time period of this dataset, which is what is expected. But now we need to see what are the characteristics of the people who churn

**VISUALISATION OF DATA** - We can now see how Churn rate varies with different factors.

For visualisation, we would not need some columns (for ex. CustomerID and Tenure), hence we can drop them here

In [ ]:
df3 = df2.copy()

In [ ]:
df3 = df3.drop('CustomerID',axis=1)
df3.head()

**Exercise 4:** Please drop the Tenure Column in **df3** (we already have Tenure_range, so it will be duplicate data)

In [ ]:
#Let's first plot the frequency distribution of the Tenure range to see how the trends vary for subscription length

df3['Tenure_range'].value_counts().plot(kind='bar')
plt.ylabel('Count')
plt.xlabel('Tenure Range')
plt.title('How does Tenure range vary in our dataset')
plt.show()

The count plot can also be produced using Seaborn. 
In our current plot, we can notice how a tenure range of lesser than 12 months is the most common, suggesting that many users do not subscribe for longer than a year. We can now associate characteristics of our consumers with their decision to leave (churn) to better understand our clients.

In [ ]:
def Createplot(dataset,column1,column2,name):
  dataset.groupby([column1,column2]).size().unstack(fill_value=0).plot(kind='bar')
  plt.title(str(name)+' as a factor of Churn')
  plt.xlabel(name)
  plt.ylabel('Count')

In [ ]:
Gender=Createplot(df3,'Gender','Churn', name='Gender')
Contract = Createplot(df3,'Contract', 'Churn','Contract')
Payment_method = Createplot(df3,'PaymentMethod','Churn','Payment Method')

**Exercise 5:** Try using the **Createplot()** function to visualise the Churn characteristics for:
* Senior Citizens 
* Partner

(Ensure you are naming the columns properly, including the caps lock and spaces for the column names!)

These plots can also be done using Seaborn.

If it interests you, you can find information on the **seaborn.FacetGrid()** method

In [ ]:
g = sns.FacetGrid(df2,col='Contract',row='Gender',hue='Churn')
g.map(sns.distplot,'Tenure').add_legend()

plt.show()